<!doctype html>
<html ng-app="admin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/lib/restangular/dist/restangular.min.js"></script>
    <script src="/primus/primus.js"></script>

    <script src="global/index.js"></script>
    <script src="events/index.js"></script>
    <script src="services/index.js"></script>

    <script src="app.js"></script>

</head>

<body>
    <div class="container-fluid">

        <div class="row">
          <div class="col-md-3 bg-info" ng-controller="EventCtrl">
              <input class="form-control input-sm" type="text" ng-model="q" placeholder="фильтр..." />
              <a class="clearfix" href="#" ng-repeat="event in events | filter:q" tooltip="{{event.payload}}" tooltip-placement="right">
                  <i class="text-muted">{{event.time | date: "HH:mm:ss"}}</i> <b class="{{event.class}}">{{event.name}}</b>
              </a>
          </div>
          <span ng-controller="ServiceCtrl">
          <div class="col-md-6">
              <hr>
              <div class="row">
                  <a ng-click="select(service)" ng-class="{disabled: service.disabled}" ng-repeat="service in services" class="btn btn-default btn-circle-big">
                      <span>{{service.id}}</span>
                  </a>
              </div>
              <hr>
              <div class="row">
                  <a ng-click="select(device)" ng-class="{disabled: device.disabled}" ng-repeat="device in devices" class="btn btn-default btn-circle-medium">
                      <span>{{device.id}}</span>
                  </a>
              </div>
          </div>
          <div ng-show="selected" class="col-md-3 bg-danger">
              <h5>{{selected.id}}#{{selected.version}}</h5>
              <div ng-show="selected.hostname">@{{selected.hostname}}</div>
              <i ng-show="selected.description" class="text-muted">{{selected.description}}</i>
              <div ng-show="selected.homepage"><a href="{{selected.homepage}}" target="_blank">{{selected.homepage}}</a></div>
              <div ng-show="selected.author">{{selected.author}}</div>
              <form ng-show="displayButtons" class="form-horizontal center">
                  <div class="form-group">
                      <input type="text" class="form-control input-sm" ng-model="selected.command">
                  </div>
                  <div class="form-group" ng-repeat="(name, value) in selected.states">
                      <a class="btn btn-info btn-panel" ng-click="request(selected, name, selected.command)">{{name}}</a>
                  </div>
              </form>
          </div>
      </span>
        </div>
    </div>
</body>

</html>
